@layer base {
  @font-face {
    font-family: 'Topaz';
    src: url('/fonts/topaz.woff2') format('woff2'), url('/fonts/topaz.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  html {
    @apply text-optimize scroll-smooth;
    font-size: 62.25%;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply text-base;
  }
}
